<script type="text/javascript" src="node_modules/mdbootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/mdb.min.js"></script>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>

<div class="container">
<section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Menjajes APP</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">La lista de mensajes activos es la siguiente: </p>

  <table class="table">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Autor</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let message of messages">
      <td>{{ message.id }}</td>
      <td>{{ message.message }}</td>
      <td>{{ message.author }}</td>
      <td>{{ message.date }}</td>
      <td>{{ message.status }}</td>
      <td>
        <button (click)="deleteMessage(message.id)" type="button" class="btn btn-outline-danger">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <h2 class="h1-responsive font-weight-bold my-4">Nuevo Mensaje</h2>
    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
        <!--Grid row-->
        <div class="row"></div>
        <!--Grid column-->

        <div class="row">

          <div *ngIf="!submitted">
            <div class="col-md-6" >
              <div class="md-form mb-0">
                <input type="text" class="form-control" id="author" [(ngModel)]="message.author" name="author">
                <label for="author" class="">Tu nombre</label>
              </div>
            </div>
          <!--Grid column-->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="message" rows="2" class="form-control md-textarea" [(ngModel)]="message.message" name="message"></textarea>
                <label for="message">Mensaje</label>
              </div>
            </div>

            <div class="text-center text-md-left">
              <a class="btn btn-primary" (click)="createMessage()" onclick="document.getElementById('contact-form').submit();">Enviar</a>
            </div>
            <div class="status"></div>
          </div>

          <div *ngIf="submitted">
            <div class="alert alert-success d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
              <div>El mensaje ha sido creada exitosamente</div>
            </div>

            <div class="col-md-6" >
              <div class="md-form mb-0">
                <input type="text" class="form-control" id="author" [(ngModel)]="message.author" name="author">
                <label for="author" class="">Tu nombre</label>
              </div>
            </div>
            <!--Grid column-->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="message" rows="2" class="form-control md-textarea" [(ngModel)]="message.message" name="message"></textarea>
                <label for="message">Mensaje</label>
              </div>
            </div>

            <button (click)="createMessage()" class="btn btn-primary">Crear otro mensaje</button>
          </div>
        </div>
    </div>
  </div>
</section>
</div>
